
data/*
airness/*
allike/*
awlab/*
chmielna20/*
disney/*
footasylum/*
footlocker/*
grosbasket/*
holypop/*
naked/*
office/*
offspring/*
prodirect/*
queens/*
schuh/*
slamjam/*
snipes/*
svd/*
titolo/*
wch/*
!**/__pycache__/
*.pyc
*.pyc
__pycache__/*
*.DS
*DS
.vscode/settings.json
venetia-success-bots/venetia-cli-reposter/

