
data/*
airness/tasks.csv
allike/tasks.csv
awlab/tasks.csv
chmielna20/tasks.csv
disney/tasks.csv
footasylum/tasks.csv
footlocker/tasks.csv
grosbasket/tasks.csv
holypop/tasks.csv
naked/tasks.csv
office/tasks.csv
offspring/tasks.csv
prodirect/tasks.csv
queens/tasks.csv
schuh/tasks.csv
slamjam/tasks.csv
snipes/tasks.csv
svd/tasks.csv
titolo/tasks.csv
wch/tasks.csv
airness/proxies.txt
allike/proxies.txt
awlab/proxies.txt
chmielna20/proxies.txt
disney/proxies.txt
footasylum/proxies.txt
footlocker/proxies.txt
grosbasket/proxies.txt
holypop/proxies.txt
naked/proxies.txt
office/proxies.txt
offspring/proxies.txt
prodirect/proxies.txt
queens/proxies.txt
schuh/proxies.txt
slamjam/proxies.txt
snipes/proxies.txt
svd/proxies.txt
titolo/proxies.txt
wch/proxies.txt
airness/accounts.txt
allike/accounts.txt
awlab/accounts.txt
chmielna20/accounts.txt
disney/accounts.txt
footasylum/accounts.txt
footlocker/accounts.txt
grosbasket/accounts.txt
holypop/accounts.txt
naked/accounts.txt
office/accounts.txt
offspring/accounts.txt
prodirect/accounts.txt
queens/accounts.txt
schuh/accounts.txt
slamjam/accounts.txt
snipes/accounts.txt
svd/accounts.txt
titolo/accounts.txt
wch/accounts.txt
!**/__pycache__/
*.pyc
*.pyc
__pycache__/*
*.DS
*DS
.vscode/settings.json
venetia-success-bots/venetia-cli-reposter/
log.log
log.log


data/checkouts.json
data/profiles/profiles.json
