
data/tasks.csv
data/tasks.csv
data/proxies.txt
!**/__pycache__/
*.pyc
*.pyc
__pycache__/*
*.DS
*DS
.vscode/settings.json
venetia-success-bots/venetia-cli-reposter/
venetia-success-bots_old.exe/venetia-cli-reposter/
