<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png')}}" />
    <title>VenetiaCLI | Config</title>
</head>
<body class="bg-background">
    <div class="min-h-screen p-10">
        <div class="pb-1 container bg-coolGray-700 h-full rounded-xl shadow-xl mx-auto">
    <h1 class="text-white font-medium text-2xl p-3 text-center pt-6">Config</h1>
<form class="space-y-8 divide-y divide-gray-200 m-10 py-" action="/update/config" method="POST">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5 text-sm font-medium">
      <div>
        <div>
          <p class="mt-1 max-w-2xl text-xl font-bold text-gray-300">
            Edit your config below and press save at the end
          </p>
        </div>
  
        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <div class="config-grid">
            <label for="username" class="input-label">
              Key
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Key 
                </span>
                <input type="text" name="key" id="key" value="{{ config['key'] }}" class="input">
              </div>
            </div>
          </div>

          <div class="config-grid">
            <label for="username" class="input-label">
            Discord Webhook
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                Webhook
                </span>
                <input type="text" name="webhook" id="webhook" value="{{ config['webhook'] }}"  class="focus:outline-none py-4 px-2 flex-1 block w-full text-sm focus:ring focus:ring-primary trans">
                <button class="bg-primary hover:bg-primaryDark px-5 rounded-r-xl p-2 text-white font-medium focus:outline-none" id="button-webhook" onclick="testWebhook()">Test</button>
            </div>
            </div>
          </div>
  
          <div class="config-grid">
            <label for="username" class="input-label">
              Checkout Noise
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                Checkout Noise 
                </span>
                <select selected="{{ config['checkoutNoise'] }}" type="text" name="checkout_noise" id="checkout_noise" value="{{ config['checkoutNoise'] }}"  class="input">
                <option value="Y">On</option>
                <option value="N">Off</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="config-grid">
            <label for="username" class="input-label">
              2 Captcha
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  API Key 
                </span>
                <input type="text" name="2cap" id="2cap" value="{{ config['2Captcha'] }}"  class="input">
              </div>
            </div>
          </div>
  
          <div class="config-grid">
            <label for="username" class="input-label">
              Cap Monster
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  API Key 
                </span>
                <input type="text" name="cap_mon" id="cap_mon" value="{{ config['capMonster'] }}" class="input">
              </div>
            </div>
          </div>

          <div class="config-grid">
            <label for="username" class="input-label">
              Captcha Choice
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  2Cap / CapMonster 
                </span>
                <select type="text" name="cap_choice" id="cap_choice" class="input">
                    <option value="2Cap">2Cap</option>
                    <option value="monster">CapMonster</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="config-grid">
            <label for="username" class="input-label">
              QuickTask Size
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Size 
                </span>
                <input type="text" name="qt_size" id="qt_size" value="{{ config['quickTaskSize'] }}" class="input">
              </div>
            </div>
          </div>
  
          <div class="config-grid">
            <label for="username" class="input-label">
                QuickTask Profile
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Profile 
                </span>
                <input type="text" name="qt_profile" id="qt_profile" value="{{ config['quickTaskProfile'] }}" class="input">
              </div>
            </div>
          </div>
  
          <div class="config-grid">
            <label for="username" class="input-label">
                QuickTask Proxies
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Proxies 
                </span>
                <input type="text" name="qt_proxies" id="qt_proxies" value="{{ config['quickTaskProxies'] }}" class="input">
              </div>
            </div>
          </div>

          <div class="config-grid">
            <label for="username" class="input-label">
                QuickTask Delay
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Delay 
                </span>
                <input type="text" name="qt_delay" id="qt_delay" value="{{ config['quickTaskDelay'] }}" class="input">
              </div>
            </div>
          </div>

          <div class="config-grid">
            <label for="username" class="input-label">
                QuickTask Payment Method
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Payment 
                </span>
                <input type="text" name="qt_payment" id="qt_payment" value="{{ config['quickTaskPayment'] }}" class="input">
              </div>
            </div>
          </div>

          <div class="config-grid">
            <label for="username" class="input-label">
                QuickTask Account Email
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Email 
                </span>
                <input type="text" name="qt_account_email" id="qt_account_email" value="{{ config['quickTaskEmail'] }}" class="input">
              </div>
            </div>
          </div>

          <div class="config-grid">
            <label for="username" class="input-label">
                QuickTask Account Password
            </label>
            <div class="mt-1 sm:mt-0 col-span-2">
              <div class="input-grid">
                <span class="input-span">
                  Password 
                </span>
                <input type="text" name="qt_account_password" id="qt_account_password"  value="{{ config['quickTaskPassword'] }}"class="input">
              </div>
            </div>
          </div>

      </div>

  
    <div class="pt-10">
      <div class="flex justify-end">
        <button type="submit" class="text-white hover:text-gray-400 font-medium rounded-xl py-2 px-5 bg-green-600 hover:bg-green-700 trans float-left btn">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
</body>
<script>
    function selects() {
        document.getElementById('cap_choice').value = "{{ config['captcha'] }}"
        document.getElementById('checkout_noise').value = "{{ config['checkoutNoise'] }}"
    }
    window.onload = selects()


    function testWebhook() {
        var webhook = document.getElementById('webhook').value

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "post", "/config/webhook/test?webhook=" + encodeURIComponent(webhook), false ); // false for synchronous request
        xmlHttp.send( null );
        return window.location.reload()
    }
</script>